POSTGRES_DB=currency
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/currency
DATABASE_URL_SYNC=postgresql+psycopg2://postgres:postgres@db:5432/currency

SECRET_KEY=your-secret-key